force-app/main/default/flows/Change_Club_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Change_contact</name>
        <label>Change contact</label>
        <locationX>609</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>AccounRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>volunteerRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CLub</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Choose existing volunteer</description>
        <name>volunteerExistingChoice</name>
        <choiceText>Choose existing volunteer</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <description>Choose a new or existing volunteer</description>
        <name>VolunteerNewChoice</name>
        <choiceText>New Volunteer</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>New_or_existing_volunteer</name>
        <label>New or existing volunteer</label>
        <locationX>284</locationX>
        <locationY>452</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Use_existing_vol</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choose_existing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_the_volunteer</targetReference>
            </connector>
            <label>Use existing vol</label>
        </rules>
        <rules>
            <name>Create_new_vol</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choose_existing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompletedNew</targetReference>
            </connector>
            <label>Create new vol</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Change Club Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Club Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>141</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>test_screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserContactRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccounRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Contact</name>
        <label>Get User Contact</label>
        <locationX>146</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>UserContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_volunteer</name>
        <label>get volunteer</label>
        <locationX>294</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Contact_details</targetReference>
        </connector>
        <filters>
            <field>SOI_ConsID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Volunteer_RecordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>volunteerRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>SOI_AlternativeEmail__c</queriedFields>
        <queriedFields>OtherPhone</queriedFields>
        <queriedFields>SOI_Comments__c</queriedFields>
        <queriedFields>SOI_ConsID__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CLub</name>
        <label>Update CLub</label>
        <locationX>785</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>CompletedExisting</targetReference>
        </connector>
        <inputReference>AccounRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_record</name>
        <label>Update Volunteer record</label>
        <locationX>450</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Change_contact</targetReference>
        </connector>
        <inputReference>volunteerRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>CompletedExisting</name>
        <label>Completed</label>
        <locationX>785</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>confirmationCompleted</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(43, 134, 60); font-size: 22px;&quot;&gt;Successfully updated the club contact!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CompletedNew</name>
        <label>Completed</label>
        <locationX>497</locationX>
        <locationY>452</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>notBuiltYet</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px; color: rgb(255, 53, 53);&quot;&gt; THIS PART IS NOT BUILT OUT YET&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Contact_details</name>
        <label>Confirm Contact details</label>
        <locationX>450</locationX>
        <locationY>60</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_contact_record</targetReference>
        </connector>
        <fields>
            <name>existingConName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>volunteerRecord.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>volunteerRecord.LastName</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>volunteerRecord.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>existingVolEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>volunteerRecord.Email</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>volunteerRecord.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>existingVolEmail2</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Alternative Email</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>volunteerRecord.SOI_AlternativeEmail__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>volunteerRecord.SOI_AlternativeEmail__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>existingVolPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>volunteerRecord.Phone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>volunteerRecord.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>existingVolPhone2</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Alternative Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>volunteerRecord.OtherPhone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>volunteerRecord.OtherPhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_the_volunteer</name>
        <label>Select the volunteer</label>
        <locationX>293</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_volunteer</targetReference>
        </connector>
        <fields>
            <name>TemporarilyText</name>
            <fieldText>&lt;p&gt;Please add the ID of the volunteer you would like to use as Club Contact&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Volunteer_RecordId</name>
            <dataType>String</dataType>
            <fieldText>Volunteer ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test_screen</name>
        <label>test_screen</label>
        <locationX>140</locationX>
        <locationY>329</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_or_existing_volunteer</targetReference>
        </connector>
        <fields>
            <name>choose_existing</name>
            <choiceReferences>VolunteerNewChoice</choiceReferences>
            <choiceReferences>volunteerExistingChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>volunteerExistingChoice</defaultSelectedChoiceReference>
            <fieldText>Do you want to add an existing volunteer or create a new one?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_User_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccounRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CHoice1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New volunteer</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>volunteerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
