force-app/main/default/flows/Change_Club_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Change_contact</name>
        <label>Change contact</label>
        <locationX>553</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>AccounRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Volunteer_RecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CLub</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_contact</name>
        <label>Update contact</label>
        <locationX>836</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>volunteerRecord.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>volunteerRecord.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contact_record</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Choose existing volunteer</description>
        <name>volunteerExistingChoice</name>
        <choiceText>Choose existing volunteer</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <description>Choose a new or existing volunteer</description>
        <name>VolunteerNewChoice</name>
        <choiceText>New Volunteer</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>New_or_existing_volunteer</name>
        <label>New or existing volunteer</label>
        <locationX>245</locationX>
        <locationY>548</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Use_existing_vol</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choose_existing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_the_volunteer</targetReference>
            </connector>
            <label>Use existing vol</label>
        </rules>
        <rules>
            <name>Create_new_vol</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choose_existing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Create new vol</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserContactId</name>
        <dataType>String</dataType>
        <expression>{!$User.ContactId}</expression>
    </formulas>
    <interviewLabel>Change Club Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Club Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>118</locationX>
        <locationY>291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>test_screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserContactRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccounRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Contact</name>
        <label>Get User Contact</label>
        <locationX>217</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>UserContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_volunteer</name>
        <label>get volunteer</label>
        <locationX>498</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Contact_details</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Volunteer_RecordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>volunteerRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_CLub</name>
        <label>Update CLub</label>
        <locationX>822</locationX>
        <locationY>527</locationY>
        <inputReference>AccounRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contact_record</name>
        <label>Update Volunteer record</label>
        <locationX>835</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>Change_contact</targetReference>
        </connector>
        <inputReference>volunteerRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirm_Contact_details</name>
        <label>Confirm Contact details</label>
        <locationX>658</locationX>
        <locationY>199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_contact</targetReference>
        </connector>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>volunteerRecord.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>volunteerRecord.Phone</elementReference>
            </defaultValue>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_the_volunteer</name>
        <label>Select the volunteer</label>
        <locationX>354</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_volunteer</targetReference>
        </connector>
        <fields>
            <name>Volunteer_RecordId</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>0031x00000NxizjAAB</stringValue>
            </defaultValue>
            <fieldText>Volunteer RecordId</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test_screen</name>
        <label>test_screen</label>
        <locationX>119</locationX>
        <locationY>463</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_or_existing_volunteer</targetReference>
        </connector>
        <fields>
            <name>choose_existing</name>
            <choiceReferences>VolunteerNewChoice</choiceReferences>
            <choiceReferences>volunteerExistingChoice</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>volunteerExistingChoice</defaultSelectedChoiceReference>
            <fieldText>Do you want to add an existing volunteer or create a new one?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_User_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccounRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CHoice1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New volunteer</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>volunteerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
