force-app/main/default/flows/Instructions_upload_file.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>update_acc_record</name>
        <label>update acc record</label>
        <locationX>737</locationX>
        <locationY>593</locationY>
        <assignmentItems>
            <assignToReference>AccountRecord.SOI_submission_completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_submission_box</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Submission_box_is_checked</name>
        <label>Submission box is checked?</label>
        <locationX>480</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>confirm01</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submission_completed_box</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.SOI_submission_completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>REQUIRED_Upload_document</targetReference>
            </connector>
            <label>Submission box unchecked</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Instructions upload file {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submission Steps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>603</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submission_box_is_checked</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SOI_submission_completed__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>412</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userRecord.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>213</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>userRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Tick submission box on account record once submission is done.</description>
        <name>update_submission_box</name>
        <label>update_submission_box</label>
        <locationX>563</locationX>
        <locationY>593</locationY>
        <connector>
            <targetReference>Success_screen</targetReference>
        </connector>
        <inputReference>AccountRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>confirm01</name>
        <label>confirm01</label>
        <locationX>347</locationX>
        <locationY>319</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>REQUIRED_Upload_document</targetReference>
        </connector>
        <fields>
            <name>submit_complete1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;You have already submitted your files.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; background-color: rgb(255, 255, 255);&quot;&gt;Please click &quot;Logout&quot; in &lt;/span&gt;&lt;span style=&quot;font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;the&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; background-color: rgb(255, 255, 255);&quot;&gt; top right hand corner to exit the system.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If your require help please click on the &quot;Help&quot; button in the top right hand corner to find your Regional Office contact details.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_screen</name>
        <label>Final_screen</label>
        <locationX>942</locationX>
        <locationY>583</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_acc_record</targetReference>
        </connector>
        <fields>
            <name>Confirmation_of_completion</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step 3 of 3:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 14pt;&quot;&gt;Confirmation of Completion&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>By_checking_this_box_I_confirm_that_I_have_completed_my_club_s_affiliation_I_und</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>AccountRecord.SOI_submission_completed__c</elementReference>
            </defaultValue>
            <fieldText>By checking this box I confirm that I have completed my club&#39;s affiliation.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OPTIONAL_Upload_Safe_Guarding_Certificate</name>
        <label>OPTIONAL: Upload Safe Guarding Certificate</label>
        <locationX>786</locationX>
        <locationY>460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Final_screen</targetReference>
        </connector>
        <fields>
            <name>safe_guarding_upload1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step 2 of 3:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 14pt;&quot;&gt;Upload Safeguarding Certificate &lt;/b&gt;&lt;b style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;[OPTIONAL]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Description:&lt;/b&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt; If your Safeguarding Officer has not already submitted their Safeguarding 2 / Designated Safeguarding Children&#39;s Officer (DSCO) (NI) certification, please upload a copy of the new certificate.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Otherwise click “Next” to continue to the final screen.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Instructions:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Upload or email the file&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Attach a copy of the certificate by clicking on the “Upload Files” button or&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Email the certificate to &lt;/span&gt;&lt;a href=&quot;mailto:affiliation@specialolympics.ie&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; font-size: 11pt; color: rgb(17, 85, 204);&quot;&gt;&lt;u&gt;affiliation@specialolympics.ie&lt;/u&gt;&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;u style=&quot;color: rgb(17, 85, 204); background-color: transparent; font-size: 11pt;&quot;&gt;﻿&lt;/u&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Click Next to go to the next step&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>safe_guarding_upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload safe guarding document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AccountRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>REQUIRED_Upload_document</name>
        <label>REQUIRED: Upload document</label>
        <locationX>788</locationX>
        <locationY>310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OPTIONAL_Upload_Safe_Guarding_Certificate</targetReference>
        </connector>
        <fields>
            <name>instructions1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Step 1 of 3:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Upload the &quot;2019 Application for Affiliation&quot; Form &lt;/b&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(255, 0, 0); background-color: transparent;&quot;&gt;[REQUIRED]&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Description:&lt;/b&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt; This form should be signed by your chairperson as confirmation that your club intends affiliating with Special Olympics Ireland for the upcoming year.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Instructions:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;Download the 2019 Application for Affiliation document by &lt;/span&gt;&lt;a href=&quot;https://ruby-connect-5811-dev-ed.cs82.my.salesforce.com/sfc/p/3E00000018Rn/a/3E00000009xp/9oa_QhgHTfr9Do_WSEFoY3eG3LU.j3rNaCFgBAqSJbU&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; background-color: transparent; color: rgb(17, 85, 204);&quot;&gt;clicking here&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;Print, complete and sign the form&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;Scan or Take a photo of the form&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;Upload or email the file&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;Attach the file by clicking on the “Upload Files” button or&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; background-color: transparent;&quot;&gt;email the file to &lt;/span&gt;&lt;a href=&quot;mailto:affiliation@specialolympics.ie&quot; target=&quot;_blank&quot; style=&quot;font-size: 11pt; background-color: transparent; color: rgb(17, 85, 204);&quot;&gt;&lt;u&gt;affiliation@specialolympics.ie&lt;/u&gt;&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: transparent; font-size: 11pt;&quot;&gt;Click Next to go to the next step&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>upload_button</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload document here</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AccountRecord.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>330</locationX>
        <locationY>563</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14pt; font-family: Arial; color: rgb(4, 144, 102); background-color: transparent;&quot;&gt;﻿&lt;/b&gt;&lt;b style=&quot;font-size: 14pt; font-family: Arial; color: rgb(62, 147, 5); background-color: transparent;&quot;&gt;Thank You!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(62, 147, 5); background-color: rgb(255, 255, 255);&quot;&gt;You have successfully submitted your clubs affiliation details.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(62, 147, 5); background-color: rgb(255, 255, 255);&quot;&gt;Your Regional Development Officer will be in touch shortly.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial, sans-serif; color: rgb(62, 147, 5); background-color: white;&quot;&gt;Please click &quot;Logout&quot; in the top right hand corner to exit the system.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Arial; color: rgb(62, 147, 5); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>getUser</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>userRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
